.applyDate {
  width: 100%;
  background-image: url("/images/applyDateMobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.applyDate__heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.applyDateContainer {
  display: inline-block;
  background-color: #df2127;
  padding: 40px 50px;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 43px 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerText {
  color: #fff;
  font-size: 16px;
}

@media screen AND (max-width: 1300px) {
  .applyDate {
    background-image: url("/images/applyDateMobile.png");
  }
}

.btnContainer {
  /* height: 20%; */
  margin-top: 15px;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 10px;
}

.apply_btn {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 7px 40px 17px 40px; */
  background-color: #df2127;
}

@media screen AND (max-width: 1100px) {
  .footer {
    padding: 43px 100px;
  }
}

@media screen AND (max-width: 750px) {
  .applyDate {
    justify-content: center;
  }
  .container {
    /* padding: 0; */
  }
}

@media screen AND (max-width: 550px) {
  .container {
    /* padding: 0; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 10px;
  }
}
