.pricing {
  padding: 60px 200px;
  background-color: #f5f5f5;
}

.pricing__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pricing__prices {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rightBorder {
  border-right-color: black;
}

.heading__border {
  font-weight: bold;
  border-right: 3px solid #000;
  padding-right: 15px;
  max-width: 240px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 20px;
  max-width: 200px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

@media screen AND (max-width: 1100px) {
  .pricing {
    padding: 60px 90px;
  }
}

@media screen AND (max-width: 750px) {
  .pricing__container {
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
}

@media screen AND (max-width: 420px) {
  .pricing__prices {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .heading__border {
    border-right: none;
    padding-right: 0px;
    align-items: center;
  }
  .heading {
    padding: 0;
  }
}
